html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  max-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

.text-not-found {
  margin-top: 20px;
  margin-left: 24px;
  /* position: absolute; */
  font-size: 24px;
  font-weight: bold;
  line-height: 25px;
  font-family: Inconsolata, sans-serif;
}

.main-container {
  margin: 0 auto;
  margin-top: 109px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scarecrow {
  width: 286.83px;
  height: 238px;
}

.text-bad-news {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: -0.035em;
  color: #333333;
  margin-top: 60px;
}

.right-container {
  display: flex;
  flex-direction: column;
  /* margin: 0 auto; */
  margin-left: 18px;
  text-align: left;
  max-width: 350px;
}

.text-message {
  margin-top: 30px;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
  width: 328px;
}

button.back-homepage {
  border: none;
  margin-top: 66px;
  padding: 24px 43px;
  background: #333333;
  color: #ffffff;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  align-self: flex-start;
}

.text-created-by {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #bdbdbd;
  margin-bottom: 24px;
  margin-top: 114px;
  white-space: nowrap;
}

@media only screen and (min-width: 900px) {
  .text-not-found {
    margin-top: 3.7037vh;
    margin-left: 5.347vw;
    font-size: 2.222vh;
  }

  .scarecrow {
    width: 49.93vh;
    height: 41.4287037vh;
  }

  .main-container {
    margin-top: 18.51851vh;
    margin-left: 5.347vw;
    margin-right: 8.264vw;
    gap: 8.249vw;
    display: flex;
    align-items: normal;
    flex-direction: row;
  }

  .text-bad-news {
    font-family: 'Space Mono';
    font-weight: bold;
    font-style: normal;
    font-size: 5.92592vh;
    line-height: 8.9796296vh;
    letter-spacing: -0.035em;
    color: #333333;
    margin-top: 0;
  }

  .right-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    text-align: left;
    max-width: 40.694vw;
  }

  .text-message {
    margin-top: 3.3333vh;;
    width: 26.458vw;
  }

  button.back-homepage {
    margin-top: 5.92592vh;
  }

  .text-created-by {
    margin-top: 28.51vh;
  }

}
